/* #region common */

*
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root
{
        --spotify-color-header: #080b12;
        --spotify-color-black: black;
        --spotify-color-white: white;
        --spotify-color-footer: #282828;
        --spotify-color-main: #141922;
        --spotify-color-accent: #b6fb30;
        --spotify-color-gray-text: #6a6a6a;
        --spotify-color-gray-home: #d2d2d2;
}

.big-container
{
        height: 100%;
        width: 100%;
}
.container-sb
{
        width: 15rem;
}

.header-main-footer
{
        height: 100%;
        width: 100%;
}

body
{
        font-family: 'Montserrat', sans-serif;
}

/* img
{
        width: 100%
} */

/* #endregion common */

/* #region utility layout */


/* #endregion utility layout */

/* #region utility functions */
.d-flex
{
        display: flex;
}

.black-text
{
        color: var(--spotify-color-black);
}

.white-text
{
        color: var(--spotify-color-white);
}

.gray-text
{
        color: var(--spotify-color-gray-text);
}
.align-items-center
{
        align-items: center;
}
.text-align-center
{
        text-align: center;
}

/* Padding vertical top e bottom */
.pY-1
{
        padding-top: 1rem;
        padding-bottom: 1rem;
}

.pY-1_5
{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
}

/* Padding left */
.pL-1
{
        padding-left: 1rem;
}

.pL-1_5
{
        padding-left: 1.5rem;
}




/* #endregion utility functions */

/* #region utility header */
header
{
   height: 5rem;
   background-color: var(--spotify-color-header);
   width: 100%;
}


/* #endregion utility header */

/* #region utility main */

main
{
        height: calc(100vh - 5rem - 5rem);
        background-color: var(--spotify-color-main);
        width: 100%;
        color: white;
}




/* #endregion utility main */

/* #region utility footer */
footer
{
        height: 5rem;
        background-color: var(--spotify-color-footer);
        margin-left: -13rem;
}




/* #endregion utility footer */

/* #region utility sidebar */
.sidebar
{
        width: 15rem;
        height: calc(100vh - 5rem);
        background-color: var(--spotify-color-black);
        overflow-y: auto;
        overflow-x: hidden;
}
.container-sb
{
        height: 100%;
        width: 80%;
        margin: auto;
}
.logo
{
        width: 13rem;
        padding: 1rem;
}

.home
{
        font-size: 0.7rem;
        padding: 1rem;
        border-left: 4px solid var(--spotify-color-accent);
        & .label
        {
                padding-left: 0.5rem;
        }
}
.home .svg-div
{
        color: red;
}
.find 
{
        font-size: 0.7rem;
        padding: 0.5rem 1.1rem;
        & .label
        {
                padding-left: 0.5rem;
        }
}
.myLybrary
{
        font-size: 0.7rem;
        padding: 0.5rem 1.2rem;
        & .label
        {
                padding-left: 0.5rem;
        }
}
.plus
{
        background-color: var(--spotify-color-gray-text);
        padding: 0.3rem;
        margin-left: 1rem
}
.doPlaylist .label
{
        font-size: 0.9rem; 
        padding-left: 0.5rem; 
}
.doPlaylist
{
        margin-bottom: 1rem;
}


.playListName
{
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
}

.line
 {
        position: fixed;
        bottom: 7.5rem;
        left: 1rem;
        width: 11rem;
        height: 1;
        border: 1px solid var(--spotify-color-gray-text);
        background-color: rgba(0,0,0,1);
        margin: auto;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;;
 }
.round-image
{
        height: 20px;
        width: 20px;
        background-color: var(--spotify-color-gray-text);
        border-radius: 50%;
}
.user
{
        position: fixed;
        bottom: 5rem;
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
        & .label
        {
                padding-left: 0.5rem;
        }
        background-color: rgba(0,0,0,1);
}
.app
{
        position: fixed;
        bottom: 8rem;
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
        & .label
        {
                padding-left: 0.5rem;
        }
        background-color: rgba(0,0,0,1);
}
/* #endregion utility footer */